USE [master]
GO
/****** Object:  Database [RemoveDiactritics]    Script Date: 7/10/2018 17:44:58 ******/
CREATE DATABASE [RemoveDiactritics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RemoveDiactritics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RemoveDiactritics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RemoveDiactritics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RemoveDiactritics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RemoveDiactritics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RemoveDiactritics]
GO
USE [RemoveDiactritics]
GO
/****** Object:  UserDefinedFunction [dbo].[RemoveDiacritics]    Script Date: 7/10/2018 17:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RemoveDiacritics] (
 @input varchar(max)
)   RETURNS varchar(max)

AS BEGIN
DECLARE @result VARCHAR(max);

select @result= @input collate SQL_Latin1_General_CP1253_CI_AI

return @result


END
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/10/2018 17:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 7/10/2018 17:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[String] [nvarchar](max) NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181007143728_CreateDb', N'2.1.4-rtm-31024')
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([Id], [String]) VALUES (1, N'Abacá')
INSERT [dbo].[Words] ([Id], [String]) VALUES (2, N'Açaí')
INSERT [dbo].[Words] ([Id], [String]) VALUES (3, N'Adiós')
SET IDENTITY_INSERT [dbo].[Words] OFF
USE [master]
GO
